<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
       xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns:aop="http://www.springframework.org/schema/aop"
       xsi:schemaLocation="http://www.springframework.org/schema/beans http://www.springframework.org/schema/beans/spring-beans.xsd http://www.springframework.org/schema/aop http://www.springframework.org/schema/aop/spring-aop.xsd">

    <bean id="interceptingClass" class="InterceptedClass">
    </bean>

    <bean id="testAnnotationInterception" class="InterceptAnnotationTest"/>

    <bean id="callingClass" class="TestClass">
        <constructor-arg ref="interceptingClass"/>
    </bean>

    <bean id="pool" class="org.springframework.scheduling.concurrent.ThreadPoolTaskExecutor">
        <property name="corePoolSize" value="5"/>
        <property name="maxPoolSize" value="10"/>
        <property name="queueCapacity" value="25"/>
    </bean>

    <bean id="aspect" class="AspectTest">
        <constructor-arg ref="pool"/>
    </bean>

    <aop:config>
        <aop:aspect ref="aspect">
            <aop:pointcut id="point" expression="execution(@edu.buffalo.cse.cse605.project2.Futureable * *.*(..))"/>

            <aop:around pointcut-ref="point" method="wrapAround"/>
        </aop:aspect>


    </aop:config>
</beans>